<footer class="bg-gray-800 text-white py-8">
    <div class="container mx-auto px-4">
      <nav class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-5 gap-8">
        <!-- Logo and User Greeting -->
        <div class=" items-center ml-auto mr-auto block">
          <img src="assets/logo.png" alt="The Movie Database (TMDB)" class="w-full">
          <!-- <a class="block bg-blue-600 text-white rounded-md px-4 py-2 text-center font-medium hover:bg-blue-700" href="/u/sourabhsuman">
            Hi sourabhsuman!
          </a> -->
        </div>
  
        <!-- Basics Section -->
        <!-- <div>
          <h3 class="text-lg font-semibold mb-4">The Basics</h3>
          <ul class="space-y-2">
            <li><a href="/about" class="hover:text-gray-400">About TMDB</a></li>
            <li><a href="/about/staying-in-touch" class="hover:text-gray-400">Contact Us</a></li>
            <li><a href="/talk" class="hover:text-gray-400">Support Forums</a></li>
            <li><a href="/login?to=read_me&amp;redirect_uri=/docs" target="_blank" class="hover:text-gray-400">API</a></li>
            <li><a href="https://status.themoviedb.org/" target="_blank" rel="noopener" class="hover:text-gray-400">System Status</a></li>
          </ul>
        </div> -->
  
        <!-- Get Involved Section -->
        <!-- <div>
          <h3 class="text-lg font-semibold mb-4">Get Involved</h3>
          <ul class="space-y-2">
            <li><a href="/bible" class="hover:text-gray-400">Contribution Bible</a></li>
            <li><a href="/movie/new" class="hover:text-gray-400">Add New Movie</a></li>
            <li><a href="/tv/new" class="hover:text-gray-400">Add New TV Show</a></li>
          </ul>
        </div> -->
  
        <!-- Community Section -->
        <!-- <div>
          <h3 class="text-lg font-semibold mb-4">Community</h3>
          <ul class="space-y-2">
            <li><a href="/documentation/community/guidelines" class="hover:text-gray-400">Guidelines</a></li>
            <li><a href="/discuss" class="hover:text-gray-400">Discussions</a></li>
            <li><a href="/leaderboard" class="hover:text-gray-400">Leaderboard</a></li>
          </ul>
        </div> -->
  
        <!-- Legal Section -->
        <!-- <div>
          <h3 class="text-lg font-semibold mb-4">Legal</h3>
          <ul class="space-y-2">
            <li><a href="/terms-of-use" class="hover:text-gray-400">Terms of Use</a></li>
            <li><a href="/api-terms-of-use" class="hover:text-gray-400">API Terms of Use</a></li>
            <li><a href="/privacy-policy" class="hover:text-gray-400">Privacy Policy</a></li>
            <li><a href="/dmca-policy" class="hover:text-gray-400">DMCA Policy</a></li>
          </ul>
        </div> -->
      </nav>
  
      <!-- Footer Build Info -->
      <section class="mt-8 text-center text-sm text-gray-400">
      Created by Sourabh Suman  {{date.getFullYear
      ()}}
      </section>
    </div>
  </footer>
  